@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Lora:wght@400;500;600&display=swap');


*{
    font-family: 'Lora', serif;
}

body{
    background-image: url(./sources/fondo.png);
    background-size: cover;                
    background-repeat: no-repeat;          
    background-position: center;           
    background-attachment: fixed;          
    margin: 0;
}

header {
    background: linear-gradient(to bottom, #472824,  #735951);
    color: white;
    padding: 15px 20px;
    position:sticky;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(10px);

}

header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(
        90deg, 
        #fbf9f9 0%,
        #472825 40%,
        #D3AB80 50%,
        #FDE4BC 60%,
        #D3AB80 100%
    );
    background-size: 200%;
    background-position: -100%;
    background-clip: text;
    color: transparent;
    animation: colorSweep 15s ease-in-out infinite;
}

@keyframes colorSweep {
    0% {
        background-position: -100%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 100%;
    }
}

.headers{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


.headers a {
    color:#FFF4E2;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.headers a:hover {
    text-decoration: underline;
    color: #FDE4BC;
}

.container{
     color:#FFF4E1;
     display: flex;
     margin: 5%;
     padding: 2%;
     background-color:#af654e;
    border-radius: 10px;
    opacity: 0.8;
}

.lefth{
    text-align: right;

}

footer{
    margin: 5%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}