@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Lora:wght@400;500;600&display=swap');


*{
    font-family: 'Lora', serif;
}

header {
    background: linear-gradient(to bottom, #000000,  #167cb4);
    color: white;
    padding: 15px 20px;

}



header h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(
        90deg, 
        #fbf9f9 0%,
        #eeeeee 40%,
        #0210ac 50%,
        #5048e2 60%,
        #f4f3f3 100%
    );
    background-size: 200%;
    background-position: -100%;
    background-clip: text;
    color: transparent;
    animation: colorSweep 15s ease-in-out infinite;
}

@keyframes colorSweep {
    0% {
        background-position: -100%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 100%;
    }
}

.headers{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


.headers a {
    color:#F2EDE7;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #000279;
}